@*@model ASPProject.ORIGINAL_PRODUCT*@
@model IEnumerable<ASPProject.ORIGINAL_PRODUCT>


@{
    ViewBag.Title = "CreateDeriveProduct_OriginalSelection";
}

<h2>Creating Derived Product / Original Selection</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Choose the original product :</h4>
        <hr />
        <select name="SelectedOriginalProduct" id="OriginalProduct-select">

            <option value="">--Please choose an option--</option>
            @foreach (var item in Model)
            {
                <option value="@item.Title">@item.Title</option>
            }
        </select>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
