@model IEnumerable<ASPProject.PRODUCT_TYPE>

@{
    ViewBag.Title = "CreateDeriveProduct_TypeSelection";
}


<strong><hr /></strong>
<h1 style="text-align:center ; color :dodgerblue" class="modal-title ">TYPE SELECTION | ORIGINAL PRODUCT CREATION</h1>
<strong><hr /></strong>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
     
        <select name="SelectedProductType" id="ProductType-select">

            <option value="">--Please choose an option--</option>
            @foreach (var item in Model)
            {
                <option value="@item.Title">@item.Title</option>
            }
        </select>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary", @style = "width:200px; margin-top:25px; font-size: 18px" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
