@model ASPProject.ORIGINAL_PRODUCT

@{
    ViewBag.Title = "Details";
}


<strong><hr /></strong>
<h1 style="text-align:center ; color :dodgerblue" class="modal-title ">ORIGINAL PRODUCT DETAILS</h1>
<strong><hr /></strong>
<br />
<div>
    
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)

        </dt>
        <dd>
            <img src="@Url.Content(Model.Image)" width="300" height="300" asp-append-version="true" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "row btn btn-primary", @style = "width:200px; margin-top:25px; font-size: 18px" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary", @style = "width:200px; margin-top:25px; font-size: 18px" })
</p>
