@model IEnumerable<ASPProject.Models.OriginalProductModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>
    @Html.ActionLink("Derive Product Inventory", "DeriveIndex")
</h3>
<p>
    @Html.ActionLink("Create New", "CreateOriginalProduct")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
        <td>
        
            <img src="@Url.Content(item.ImagePath)" class="rounded-circle" width="40" height="40" asp-append-version="true" />
        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
