@model IEnumerable<ASPProject.Models.OriginalProductModel>

@{
    ViewBag.Title = "Index";
}



    <div class="container" style="margin:20px; margin-left:150px">
        <div class="row ">
            <div class="col-lg-3 ">
                @Html.ActionLink("ORIGINAL PRODUCT", "Index", null, new { @class = "btn btn-primary" ,@style = "width:200px"})

            </div>
            <div class="col-lg-3">
                @Html.ActionLink("DERIVE PRODUCT", "DeriveIndex", null, new { @class = "btn btn-primary", @style = "width:200px" })

            </div>
            <div class="col-lg-3">
                @Html.ActionLink("ORDERS", "Orders", null, new { @class = "btn btn-primary", @style = "width:200px" })

            </div>
           
        </div>
    </div>
   <br />
<strong><hr /></strong>
<h1 style="text-align:center ; color :dodgerblue" class="modal-title " >ORIGINAL INVENTORY</h1>
<strong><hr /></strong>
<br />
<p>
    @Html.ActionLink("Create New", "CreateOriginalProduct", null, new { @class = "btn btn-primary", @style = "width:200px" })
</p>

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          <span>$</span>  @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        
        <td>
        
            <img src="@Url.Content(item.ImagePath)" class="rounded-circle" width="40" height="40" asp-append-version="true" />
        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-info", @style = "font-size: 10px" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-info", @style = "font-size: 10px" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class = "btn btn-info", @style = "font-size: 10px" })
        </td>
    </tr>
}

</table>
