@model IEnumerable<ASPProject.Models.OriginalProductModel>

@{
    ViewBag.Title = "Index";
}

<br />
<strong><hr /></strong>
<h1 style="text-align:center ; color :dodgerblue" class="modal-title ">ORIGINAL ART</h1>
<strong><hr /></strong>
<br />
<div class="container container-fluid" style="margin-top:10rem">
    @foreach (var item in Model)
    {


        <div class="col-sm-4 d-flex pb-3">
            <div class="card card-block" style="width: 32rem; text-align:center ; padding-bottom:6rem">
                <div id="container">
                    <img class="card-img-top" id="img1" src="@Url.Content(item.ImagePath)" width="320" height="430" asp-append-version="true" alt="Card image cap">
                    @{
                        if (item.statusS == "Sold")
                        {
                            <img class="card-img-top" id="img2" src="~/Images/sold.png" width="150" height="150" asp-append-version="true" alt="Card image cap">

                        }
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>@item.Title</strong> </h5>
                    <p class="bg-info">@item.Description</p>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item ">@item.statusS</li>
                    <li class="list-group-item">@item.Price <span>$</span></li>

                </ul>
                <div class="card-body">

                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DeriveProduct_Index", "User", new { originalProduct = @item.Title })'">Derived Product</button>


                    <a href="#" class="btn btn-info" >Contact</a>
                </div>
            </div>
        </div>

    }
</div>
<style>
    #container {
        position: relative;
    }

    #img2 {
        position: absolute;
        left: 0px;
        top: 0px;
    }
</style>








