@model IEnumerable<ASPProject.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Cart.cshtml";
}





<!-- MDB -->
@{
    double total = 0;
    foreach (var item in Model)
    {
        total += Convert.ToDouble(item.Product.Price) * Convert.ToDouble(item.Quantity);
    }

}



<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">

                        <div class="row">
                            <div class="col-lg-6 px-5 py-4">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your products</h3>

                                @foreach (var item in Model)
                                {
                                    using (Html.BeginForm("UpdateOrder", "Cart", FormMethod.Post))
                                    {
                                        <div class="d-flex align-items-center mb-5">
                                            <div class="flex-shrink-0">
                                                <img src="@Url.Content(item.Product.Image)" class="rounded-circle" width="150" height="150" asp-append-version="true" />

                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <a href="#!" class="float-end text-black"><i class="fas fa-times"></i></a>
                                                <h5 class="text-primary">@item.Product.Name</h5>
                                                <h6 style="color: #9e9e9e;"></h6>
                                                <div class="d-flex align-items-center">
                                                    <p class="fw-bold mb-0 me-5 pe-3">@item.Product.Price</p>
                                                    <div class="def-number-input number-input safari_only">
                                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                                class="minus">
                                                            -
                                                        </button>
                                                        <input class="quantity fw-bold text-black" min="0" max="@item.Product.Quantity" name="quantity" value="@item.Quantity"
                                                               type="number" onchange="this.form.submit()">
                                                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                                class="plus">
                                                            +
                                                        </button>
                                                        <input hidden name="idCart" value="@item.CartId" />
                                                        <input hidden name="idProduct" value="@item.ProductId" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }

                                }

                                <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">


                                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                                    <h5 class="fw-bold mb-0">Total:</h5>
                                    <h5 class="fw-bold mb-0">
                                        <span>$</span> @total.ToString()
                                    </h5>
                                </div>

                            </div>
                            @*Confirmation*@
                            <div class="col-lg-6 px-5 py-4">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Payment</h3>

                                @using (Html.BeginForm("Order", "Cart", FormMethod.Post))
                                {

                                    <div class="form-outline mb-5">
                                        <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                               value="" name="userFullName" required/>
                                        <label class="form-label" for="typeText">Full name</label>
                                    </div>

                                    <div class="form-outline mb-5">
                                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                               value="" name="userAddress" required />
                                        <label class="form-label" for="typeName">Address</label>
                                    </div>
                                    <div class="form-outline mb-5">
                                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                               value="" name="PhoneNumber" required />
                                        <label class="form-label" for="typeName">Phone</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-5">
                                            <div class="form-outline">
                                                <input type="text" id="typeExp" class="form-control form-control-lg" value=""
                                                       id="exp" name="userEmail" required/>
                                                <label class="form-label" for="typeExp">E-Mail</label>
                                            </div>
                                        </div>

                                    </div>
                                    <input hidden name="total" value="@total" />

                                    @*<p class="mb-5">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit <a href="#!">obcaecati sapiente</a>.
                    </p>*@

                                    <button type="submit" class="btn btn-primary btn-block btn-lg">Order now</button>

                                    <h5 class="fw-bold mb-5" style="position: absolute; bottom: 0;">

                                        @Html.ActionLink("Back to shopping", "DeriveProduct_Index", "User")
                                    </h5>

                                }

                            </div>
                        </div>
                        
                            
                                <div class="label label-info">
                                    <p>@ViewData["msg"]</p>
                                </div>
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


